.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.search{
    background-color: #eeeeee;
}
.m-0px{
    margin: 0px;
}
.textStyle{
    width: 40%;
}
.footer{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin-top: 3px;
}
.search-info{
    background-color: #7ee5da;
    padding: 10px;
    width: 35%;
    margin-right: 3px;
}

.info{
    background-color: #70ccc2;
    padding: 10px;
    width: 20%;
    margin-right: 3px;
}
.subscribe{
    background-color: #62b3aa;
    padding: 10px;
    width: 45%;
}
.textSubscribe{
    width: 50%;
}